/* body{
    margin: 0;
} */


nav{
    width: 100%;
    background-color: #313131;
    height: 100px;
    position: fixed;
    z-index: 1;
}

main{
    color: #313131;
}

a.nav{
    color: #e3e4e6;
    text-decoration: none;
}

div.flex-header{

    display: flex;
    justify-content: space-evenly ;
    height: 100px;
    align-items: center;
}

#logo {
    display: flex;
    margin: 0px 100px 0px 0px;
    height: 100px;
    align-items: center;
    text-decoration: none;
    color: #e3e4e6;  
}

#home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    height: 500px;
    background-color: #f7d0cb;
    padding: 100px 0 0 0;
}


aside{
  width: 100px;
  height: 100px;
}

#img-container{
    grid-row: span 2;
    background-color: #e3e4e6;
}

#img-home{
    max-width: 100%;
}

#presentazione-home{    
    background-color: #e3e4e6;
    margin-right: 50%;
}

#descrizione-home{
    background-color: #e3e4e6;
    margin-right: 20%;
}

#carouselExampleIndicators{
    width: 50%;
    margin: 100px 0px;
}

#progetti {
    background-color: #f6d9d5;
    height: 500px;
    position: relative;
}

#progetti div{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#carouselExampleIndicators{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div.carousel-item{
    max-width: 100%;
}

#chi-sono{
    background-color: #f7d0cb;
    position: relative;
    height: 500px;
}

#div-descrizione{
    position: absolute;
    top: 25%;
    left: 20%;
    max-width: 60%;
    background-color: #e3e4e6;
    text-align: center ;    
}

#div-descrizione h2 {
    display: inline-block;
  }

#titoli-di-studio{
    background-color: #f6d9d5;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

article {
    width: 25%;
    height: 75%;
    border: 1px SOLID #000000;
    padding: 10px; 
    background-color: #e3e4e6;
}

#card-1{
    margin: 0 0 0 120px;
}

#card-2{
    margin: 0 120px 0 0 ;
}

footer{
    background-color: #313131;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer div{
    display: inline;
}

#logo-footer{
    background-color: #e3e4e6;
}

#anagrafica-footer{
    background-color: #e3e4e6;
}

#contatti-footer{
    background-color: #e3e4e6;
}

#ig-footer{
    background-color: #e3e4e6;
    border-radius: 50%;
}

#linkedIn-footer{
    background-color: #e3e4e6;
    border-radius: 50%;
}

#github-footer{
    background-color: #e3e4e6;  
    border-radius: 50%;
}

#flex-footer-2{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}

#flex-footer-3{
   width: 15%;
    display: flex;
    justify-content: space-around;
}