/* body{
    margin: 0;
} */

nav{
    width: 100%;
    background-color: rgb(255, 0, 0);
    height: 100px;
   
    /* position: fixed; */ /* Non fa modificare heigth di section.home e sovrappone section.home */    
}

div.flex-header{

display: flex;
justify-content: space-evenly ;
height: 100px;
position: relative;
}

#logo {
    display: flex;
    margin: 0px 100px 0px 0px;
    height: 100px;
    
}

section.home{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
}
